<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="breadcrumb-container">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">الرئيسية</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="">الخبر</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>