<div class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-1 col-md-9">
        <div class="footer-container">
          <h6>من نحن</h6>
          <p>نقابتي هو منصة تفاعلية تهدف الي تقديم خدمات الرعاية الصحية لنقابة المهندسين المصرية بطريقة مميكنة مدعمة بوسائل مختلفة للدفع الالكتروني لتسيهل الحصول علي الخدمات ومتابعة مدفوعاتهم باقل وقت ومجهود</p>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 mb-4">
        <div class="footer-list">
          <h4 class="">روابط سريعة</h4>

          <ul class="nav ">
            <li class="nav-item">
              <a class="nav-link" routerLink="">الرئيسية</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="">الخدمات</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="">عن التطبيق</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="row">
          <div class="col-lg-7 col-md-9">
            <div class="footer-list">
              <h4 class="">سياسة الخصوصة</h4>
    
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" routerLink="">سياسة الخصوصية</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-5 col-md-3">
            <div class="footer-list">
              <h4 class="">تابعنا على</h4>
    
              <div class="social-links">
                <a class="social-item" href="https://www.facebook.com/neqabty" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a class="social-item" href="https://www.youtube.com/channel/UCD2XjZVssPsZBTLTqxb96RA" target="_blank">
                  <i class="fab fa-youtube"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="download-links">
              <a class="download-link disabled" href="" target="_blank">
                <img src="assets/images/appstore.png" class="img-fluid" alt="App-Store" />
              </a>
              <a class="download-link" href="https://appgallery.huawei.com/#/app/C103876653" target="_blank">
                <img src="assets/images/appgallery.png" class="img-fluid" alt="App-Gallery" />
              </a>
              <a class="download-link" href="https://play.google.com/store/apps/details?id=com.neqabty" target="_blank">
                <img src="assets/images/playstore.png" class="img-fluid" alt="Play-Store" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="footer-lite">
          <div class="icon">
            <img src="assets/images/neqabty-icon-white.png" class="img-fluid" alt="Neqabty-logo" />
          </div>
          <h6>جميع الحقوق محفوظه لعام <span class="text-en">Copyright 2022</span></h6>
        </div>
      </div>
    </div>
  </div>
</div>
