<div class="profile-page">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-4 col-md-5 mb-3">
                <div class="sidemenu-list">
                    <div class="sidemenu-header">
                        <h6>الإعدادات</h6>
                        <p>تحديث وإدارة حسابك</p>
                    </div>

                    <div class="sidemenu-container">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                <div class="icon">
                                    <img src="assets/images/svg/user-avatar.svg" class="img-fluid" alt="user" />
                                </div>
                                <h5>تعديل الملف الشخصي</h5>
                            </button>
                            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                <div class="icon">
                                    <img src="assets/images/svg/setting.svg" class="img-fluid" alt="setting" />
                                </div>
                                <h5>إعدادت الحساب</h5>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-7 mb-3">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="profile-card">
                            <div class="profile-card-header">
                                <div class="profile-avatar">
                                    <img src="../../../assets/images/user-profile.png" class="img-fluid" alt="user-avatar" />
                                    <h6 class="username">شادي عبد الله</h6>
                                </div>
        
                                <div class="row">
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="user-info-item">
                                            <h5>رقم العضوية</h5>
                                            <p>٣٠٨٧٢١</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="user-info-item">
                                            <h5>رقم التسجيل</h5>
                                            <p>٢٢٠٣٠٨٧٢١</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="user-info-item">
                                            <h5>الرقم القومى</h5>
                                            <p>٢٩٢٠٢٢٢٠٣٠٨٧٢١</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="profile-card-body">
                                <h4 class="title">تعديل الملف الشخصي</h4>
        
                                <div class="alert alert-danger">
                                    من فضلك قم بتحديث ملفك الشخصي لتتمكن من استخدام الخدمات
                                </div>
        
                                <div class="row justify-content-between mt-4">
                                    <div class="col-lg-5 col-sm-6">
                                        <div class="form-group">
                                            <label for="userName">صورة بطاقة الرقم القومى</label>
                                            <input class="form-control" type="text" name="username" id="userName" />
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-6">
                                        <div class="form-group">
                                            <label for="userName">صورة بطاقة الرقم القومى</label>
                                            <input class="form-control" type="text" name="username" id="userName" />
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-6">
                                        <div class="form-group">
                                            <label for="userName">صورة بطاقة الرقم القومى</label>
                                            <input class="form-control" type="text" name="username" id="userName" />
                                        </div>
                                    </div>

                                    <div class="col-lg-5 col-sm-6 d-flex align-items-end mt-3 mt-sm-0">
                                        <div class="form-group w-100">
                                            <button class="btn btn-primary w-100" type="button">حفظ</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="profile-card">
                            <div class="profile-card-header">
                                <div class="profile-avatar">
                                    <img src="../../../assets/images/user-profile.png" class="img-fluid" alt="user-avatar" />
                                    <h6 class="username">شادي عبد الله</h6>
                                </div>
        
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="user-info-item">
                                            <h5>رقم العضوية</h5>
                                            <p>٣٠٨٧٢١</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="user-info-item">
                                            <h5>رقم التسجيل</h5>
                                            <p>٢٢٠٣٠٨٧٢١</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="user-info-item">
                                            <h5>الرقم القومى</h5>
                                            <p>٢٩٢٠٢٢٢٠٣٠٨٧٢١</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="profile-card-body">
                                <h4 class="title">إدارة الحساب</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>