// colors var
$primary: #0090db;
$secondary: #ffc107;

.offers-wrapper {

  // offer card
  .offer-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    // border: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.2);
    overflow: hidden;

    .offer-card-header {
      background-image: url(../../../../assets/images/courses-pattern.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;

      .offer-overlay {
        background-color: rgba($color: $primary, $alpha: 0.8);
        padding: 32px 16px;

        .offer-card-title{
          color: #fff;
          font-size: 22px;
          font-weight: 600;
          height: 66px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }

      .offer-hint {
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: red;
        border-radius: 4px;
        padding: 4px 16px;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        border-bottom-right-radius: 10px;
      }
    }

    .offer-card-body {
      .offers-container {
        padding-left: 16px;
        padding-right: 16px;
      }

      .offer-details {
        border-radius: 10px;
        background-color: rgba($color: #000000, $alpha: 0.02);
        padding: 16px;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba($color: $primary, $alpha: 0.5);

        .details-title{
          display: flex;
          align-items: center;
          margin-bottom: 6px;

          i {
            color: $primary;
            font-size: 16px;
            margin-right: 6px;
          }

          span{
            font-size: 12px;
            display: inline-block;
            color: rgba($color: #000000, $alpha: 0.5);
          }
        }

        p {
          margin-bottom: 0px;
          color: rgba($color: #000000, $alpha: 0.7);
          font-size: 14px;
          font-weight: 600;
          text-align: center;
        }
      }

      // appointment section
      .appointment-section {
        background-color: rgba($color: #000000, $alpha: 0.02);
        padding: 16px;
        margin-top: 12px;

        h5 {
          color: rgba($color: #000000, $alpha: 0.8);
          font-weight: 600;
          margin-bottom: 12px;
          font-size: 16px;
          text-align: center;
        }

        .appointment-box {
          padding: 0px;
          margin-bottom: 0px;

          .appointment-card{
            background-color: #fff;
            border-radius: 10px;
            padding: 8px 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;

            &:last-child{
              margin-bottom: 0px;
            }

            .box-day {
              color: rgba($color: #000000, $alpha: 0.6);
              font-size: 12px;
              font-weight: 600;
              margin-bottom: 0px;
            }

            .box-date {
              display: flex;
              align-items: center;
              justify-content: center;
              color: rgba($color: #000000, $alpha: 0.5);
              font-size: 14px;
              font-weight: 600;

              .box-time {
                background-color: $primary;
                padding: 3px 5px;
                font-size: 11px;
                border-radius: 4px;
                color: #fff;
                font-weight: 600;
              }

              .break {
                margin: 0px 4px;
                color: rgba($color: #000000, $alpha: 0.6);
                font-weight: 600;
                font-size: 16px;
              }
            }
          }

          .swiper-container{
            position: relative;

            .swiper-wrapper{
              margin-bottom: 32px;
            }

            .swiper-pagination{
              bottom: 0px;

              &.swiper-pagination-bullets{
                .swiper-pagination-bullet{
                  width: 10px !important;
                  height: 10px !important;
                  background-color: rgba($color: #000000, $alpha: 0.2);
                  cursor: pointer;
                  margin-right: 3px !important;
  
                  &.swiper-pagination-bullet-active{
                    width: 12px;
                    height: 12px;
                    background: $primary;
                  }
                }
              }
            }
          }
        }
      }
    }

    .offer-card-footer {
      padding: 0px;
      margin-top: auto;

      .offer-card-price {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: 26px 0px;

        .price {
          font-size: 44px;
          line-height: 44px;
          color: $secondary;
          margin-bottom: 0px;
          font-weight: 600;
          margin-right: 6px;
        }

        .currency {
          font-size: 20px;
          color: $primary;
          font-weight: 600;
        }
      }

      .offer-card-action {
        margin-top: 32px;

        .btn {
          color: #fff;
          background-color: $primary;
          display: block;
          width: 100%;
          padding: 14px 16px;
          font-size: 18px;
          font-weight: 600;
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;
        }
      }
    }
  }

  // accordion
  .accordion{
    margin-bottom: 16px;

    .accordion-item{
      margin-bottom: 16px;
      border-radius: 6px;
      border: 1px solid rgba($color: #000000, $alpha: 0.1);

      .accordion-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        cursor: pointer;

        span{
          font-weight: 600;
          color: $primary;
          font-size: 18px;
        }

        i{
          transform: rotate(180deg);
          color: $primary;
        }

        &.collapsed{
          span{
            color: #000;
          }
          i{
            color: #000;
          transform: rotate(0deg);
          }
        }
      }

      .accordion-collapse{
        .accordion-body{
          border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
          padding: 0px;
          margin: 0px 16px;
          padding: 16px 0px;
        }
      }
    }
  }
}
