<section class="payment-wrapper">
  <div class="section-banner" style="background-image: url(assets/images/payment.jpg);">
    <div class="banner-overlay">
      <div class="container">
        <h2 class="banner-title">Payment</h2>
      </div>
    </div>
  </div>

  <div class="container py-5">
    <div class="row">
      <div class="bg-white col-5 mx-auto p-5 rounded shadow">
        <form [formGroup]="paymentForm" (submit)="formSubmit()">
          <div class="custom-radio-wrapper">
            <div class="custom-radio mb-2">
              <input type="radio" formControlName="paymentMethod" id="card" value="card" />
              <label class="px-2" for="card">Card</label>
            </div>
            <div class="custom-radio mb-2">
              <input type="radio" formControlName="paymentMethod" id="fawry" value="fawry" />
              <label class="px-2" for="fawry">Fawry</label>
            </div>
            <div class="custom-radio mb-2">
              <input type="radio" formControlName="paymentMethod" id="wallet" value="wallet" [attr.disabled]="false" />
              <label class="px-2 text-black-50" for="wallet">Wallet</label>
            </div>
          </div>

          <div class="mt-5 text-center">
            <button class="btn btn-primary px-5" type="submit" [disabled]="paymentForm.invalid">Pay Now</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Fawry Payment Modal -->
  <button class="btn btn-primary" id="fawry-payment-btn" data-bs-toggle="modal" data-bs-target="#fawryPaymentModal" [hidden]="true">Fawry Code</button>

  <div class="modal fade" id="fawryPaymentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="fawryPaymentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-0 justify-content-end pb-0">
          <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>

        <div class="modal-body">
            <img src="assets/images/svg/fawry.svg" class="img-fluid" alt="fawry-logo" />
            <h4>Your Fawry Code</h4>
            <div class="code-container">
                <input class="code-box" id="code-box" #codeBoxValue type="text" [value]="fawryPaymentCode" disabled />
                <button type="button" class="btn copy-code" (click)="copyCode(codeBoxValue)">
                    <i class="fas fa-copy"></i>
                </button>
            </div>
        </div>

        <div class="modal-footer border-top-0 justify-content-center mt-3">
          <button type="button" class="btn btn-primary px-5" data-bs-dismiss="modal">Done</button>
        </div>
      </div>
    </div>
  </div>
</section>
