// colors var
$primary: #0090db;
$secondary: #ffc107;
$success: #008009;

.units-wrapper {
  .units-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;

    .head-action{
      padding: 8px 26px;
      font-size: 18px;
    }
  }
  .unit-card {
    background-color: #fff;
    border: 1px solid rgba($color: #000, $alpha: 0.1);
    border-radius: 4px;
    box-shadow: 0 1px 8px 0 rgba($color: #000, $alpha: 0.12), 0 2px 3px -1px rgba($color: #000, $alpha: 0.2);
    padding: 26px;

    .unit-card-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 26px;

      .unit-card-content {
        margin-right: 26px;

        .unit-name {
          margin-bottom: 16px;
          font-size: 20px;
          color: rgba($color: #000, $alpha: 0.5);
        }

        .feature-list {
          padding: 0px;
          margin-bottom: 0px;
          list-style: none;
          display: flex;

          .feature-list-item {
            font-size: 14px;
            margin-bottom: 8px;
            margin-right: 16px;
            background-color: rgba($color: $primary, $alpha: 0.1);
            padding: 6px 20px;
            border-radius: 4px;
            color: $primary;
            font-weight: 600;
            border: 1px solid $primary;
          }
        }
      }

      .unit-card-features {
        padding-left: 26px;
        min-width: 36%;
        border-left: 1px solid rgba($color: #000, $alpha: 0.1);

        h6 {
          color: #000;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 16px;
        }

        .unit-info-list {
          .unit-info-list-item {
            margin-bottom: 14px;
            display: flex;
            align-items: center;

            i {
              color: $secondary;
              margin-right: 8px;
              font-size: 17px;
            }

            h5 {
              margin-bottom: 0px;
              font-size: 14px;
              font-weight: 400;

              span {
                font-weight: 600;
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    // avilable periods
    .periods-wrapper {
      margin-bottom: 16px;

      .periods-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;

        .head-section {
          display: flex;
          align-items: center;

          h6 {
            margin-bottom: 0px;
            font-size: 18px;
            font-weight: 600;
            margin-right: 8px;
          }

          .pagination-container {
            display: flex;
            align-items: center;

            b {
              margin: 0px 4px;
              font-size: 15px;
            }

            .swiper-pagination-fraction {
              font-weight: 600;
              font-size: 15px;

              span.swiper-pagination-current {
                color: $primary;
              }
            }
          }
        }

        .actions {
          .btn {
            padding: 6px 14px;
            font-size: 13px;
            min-width: 75px;

            &.btn-slider-prev {}

            &.btn-slider-next {}
          }
        }
      }

      .periods-container {
        .period-card {
          border: 1px solid rgba($color: #000, $alpha: 0.1);
          border-radius: 10px;
          padding: 12px;
          position: relative;

          .card-flex {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;

            .period-card-data {
              margin-right: 16px;

              &:last-child {
                margin-right: 0px;
              }

              i {
                color: rgba($color: #000, $alpha: 0.6);
                font-size: 12px;
                margin-right: 7px;
              }

              span {
                font-size: 12px;
                color: rgba($color: #000, $alpha: 0.6);
              }

              p {
                font-size: 13px;
                font-weight: 600;
                margin-bottom: 0px;
                text-align: center;
              }
            }
          }

          .period-price {
            display: flex;
            justify-content: center;
            align-items: flex-end;

            h5 {
              font-size: 28px;
              color: $primary;
              margin-bottom: 0px;
              line-height: 28px;
            }

            span {
              font-size: 16px;
              color: $secondary;
              margin-left: 6px;
            }
          }

          .period-card-active {
            display: none;
            color: $success;
            font-size: 24px;
            position: absolute;
            bottom: 0px;
            right: 0px;
            padding: 0px 6px;
          }
        }

        .custom-input-card {
          .custom-input {
            position: absolute;
            display: none;

            &:checked+.custom-input-label>.period-card {
              border: 1px solid $success;

              .period-card-active {
                display: block;
              }
            }
          }

          .custom-input-label {
            display: block;
            cursor: pointer;
          }
        }
      }
    }

    // unit card footer
    .unit-card-footer {
      margin-top: 16px;

      .card-action {
        display: flex;
        justify-content: flex-end;

        .btn {
          padding: 10px 36px;
          font-size: 18px;

          i {
            font-size: 19px;
            margin-right: 12px;
          }
        }
      }
    }
  }

  // price include
  .price-include {
    border: 1px solid $success;
    border-radius: 4px;
    background-color: #e7fde9;
    padding: 12px 16px;
    display: flex;
    margin-bottom: 16px;

    .include-icon {
      margin-right: 16px;

      i {
        color: $success;
        font-size: 20px;
      }
    }

    .include-container {
      .include-head {
        margin-bottom: 10px;

        h5 {
          font-size: 15px;
          font-weight: 600;
          color: #000;
          margin-bottom: 0px;
        }
      }

      .include-body {
        .body-list {
          margin-bottom: 0px;
          padding-left: 14px;

          .body-list-item {
            color: #000;
            font-size: 14px;
            margin-bottom: 4px;
          }
        }
      }
    }
  }

  // price include
  .price-notinclude {
    border: 1px solid $secondary;
    border-radius: 4px;
    background-color: rgba($color: $secondary, $alpha: 0.08);
    padding: 12px 16px;
    display: flex;
    margin-bottom: 16px;

    .include-icon {
      margin-right: 16px;

      i {
        color: $secondary;
        font-size: 20px;
      }
    }

    .include-container {
      .include-head {
        margin-bottom: 10px;

        h5 {
          font-size: 15px;
          font-weight: 600;
          color: #000;
          margin-bottom: 0px;
        }
      }

      .include-body {
        .body-list {
          margin-bottom: 0px;
          padding-left: 14px;

          .body-list-item {
            color: #000;
            font-size: 14px;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}