.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  font-size: 14px;

  &:focus,
  &:active {
    box-shadow: none !important;
    outline: none;
  }

  &.btn-primary , &.btn-secondary{
    color: $white;

    &:hover{
      color: $white;
    }

    &:disabled{
      color: $white;
    }
  }
}

.btn-link {
  display: flex;
  align-items: center;
  text-decoration: none !important;

  span{
    font-size: 14px;
    font-weight: 600;
  }

  i {
    font-size: 22px;
  }

  img{
    margin-right: 18px;
  }
}
