button.btn , a.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;

  span{
    font-size: 16px;
  }

  i{
    font-size: 14px;
  }

  &:focus,
  &:active {
    box-shadow: none !important;
    outline: none;
  }

  &.btn-primary , &.btn-secondary{
    color: $white;

    &:hover{
      color: $white;
    }

    &:disabled{
      color: $white;
    }
  }

  &.btn-outline-primary{
    &:hover{
      color: $white;
    }
  }
}

.btn-link {
  display: flex;
  align-items: center;
  text-decoration: none !important;

  span{
    font-size: 18px;
    font-family: 'DinnNext-Medium';
  }

  i {
    font-size: 22px;
  }

  img{
    margin-right: 18px;
    margin-top: 6px;
  }
}
