.pagination-wrapper {
  text-align: center;

  .pagination-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba($color: $black, $alpha: 0.1);
    border-radius: 6px;
    padding: 6px 0px;
    flex-wrap: wrap;

    .pagination-prev,
    .pagination-next {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 4px 12px;

      .arrow {
        color: $primary;
        margin: 0px 4px;
        display: flex;

        i {
          font-size: 12px;
        }
      }

      h6 {
        font-size: 13px;
        color: $primary;
        font-weight: 400;
        margin: 0px 4px;
      }

      &:disabled,
      &.disabled {
        cursor: default;

        .arrow {
          color: rgba($color: $black, $alpha: 0.6);
        }

        h6 {
          color: rgba($color: $black, $alpha: 0.6);
        }
      }
    }

    .pagination-prev {
      border-left: 2px solid rgba($color: $black, $alpha: 0.1);
      margin-left: 14px;
    }

    .pagination-next {
      border-right: 2px solid rgba($color: $black, $alpha: 0.1);
      margin-right: auto;
    }

    .pagination-numbers {
      margin: 0px 4px;
      display: flex;
      align-items: center;

      .page-number {
        padding: 4px 10px;
        margin-left: 8px;
        font-size: 14px;
        color: rgba($color: $black, $alpha: 0.7);
        cursor: pointer;
        border-radius: 4px;
        font-family: "AvantGardeBook";

        &:hover {
          color: rgba($color: $black, $alpha: 0.9);
        }

        &.active {
          background-color: $primary;
          color: $white;

          &:hover {
            background-color: $primary;
            color: $white;
          }
        }
      }
    }
  }
}
