$primary: #0092DC;
$secondary: #FCCA2D;
$third: #4bc8ff;

$black: #000000;
$white: #ffffff;
$light: #f3f3f5;

$success: #29a32c;
$error: #ff0000;

// media query
$min-xs: 380px;
$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "third": $third,
  "white": $white,
  "black": $black,
  "light": $light,
  "success": $success,
  "error": $error
);
