// colors var
$primary: #0090db;
$secondary: #ffc107;

.trips-wrapper {
  .trip-card {
    border: 1px solid rgba($color: #000, $alpha: 0.1);
    border-radius: 4px;
    padding: 16px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;

    .card-wrapper{
      display: flex;
      align-items: flex-start;

      .card-banner{
        min-height: 120px;
        min-width: 120px;
        border-radius: 10px;
        margin-right: 26px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .card-container {
        width: 100%;

        .card-title {
          color: $primary;
          font-size: 22px;
          font-weight: 700;
          margin-bottom: 6px;
        }
  
        .card-desc {
          font-size: 14px;
          margin-bottom: 20px;
          max-height: 66px;
          overflow: hidden;
        }
      }
    }

    .card-body{
      padding: 10px 0px;

      .card-address {
        margin-bottom: 12px;

        i {
          color: $secondary;
          font-size: 16px;
          margin-right: 6px;
        }

        span {
          color: rgba($color: #000, $alpha: 0.5);
          font-size: 13px;
        }
      }

      .card-notes {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 6px 0px;
        color: rgba($color: #000, $alpha: 0.4);
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 0;
      }
    }

    .card-footer {
      background-color: transparent;
      border: 0px;
      padding: 0px;
      margin-top: 16px;
      text-align: end;
      margin-top: auto;
      padding-top: 4px;

      .card-action {
        display: inline-block;
        background: $primary;
        border-radius: 4px;
        padding: 6px 20px;
        color: #fff;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}
