// colors var
$primary: #0090db;
$secondary: #ffc107;

.trips-wrapper{
    .city-card{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        position: relative;
        margin-bottom: 26px;
        min-height: 200px;
        overflow: hidden;
        display: block;

        .city-name{
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background-color: #fff;
            color: $primary;
            padding: 12px 10px;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
        }

        .city-overlay{
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-color: rgba($color: $primary, $alpha: 0.6);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 20px;
            font-weight: 700;
        }
    }
}

.filter-wrapper{
    background: $primary;
    padding: 26px;
    border-radius: 6px;

    .btn-secondary{
        background: $secondary;
        color: #fff;
    }
}