<div class="">
  <div class="container-title">
    <breadcrumb [breadcrumb]="breadcrumb"></breadcrumb>
  </div>

  <!-- actors section -->
  <section class="section-wrapper actors-wrapper">
    <div class="container">
      <div class="row">
        <div class="section-head">
          <h4 class="section-title">
            <span class="text-secondary">الجهات </span> <span class="text-primary">الرئيسية</span>
          </h4>

          <p class="section-description">نقابتي هو منصة تفاعلية تهدف الي تقديم خدمات الرعاية الصحية لنقابة المهندسين
            المصرية
            بطريقة مميكنة مدعمة بوسائل مختلفة للدفع الالكتروني لتسيهل الحصول علي الخدمات ومتابعة مدفوعاتهم باقل وقت
            ومجهود
          </p>
        </div>

        <!-- actors slider -->
        <actors-slider [actorsList]="actors"></actors-slider>
      </div>
    </div>
  </section>
</div>
