body {
  font-family: "DroidKufi";

  html[dir='ltr'] &,
  html[lang='en'] & {
    font-family: "AvantGardeBook";
  }
}

main{
  margin-top: 72px;
}

.section-title {
  font-size: 26px;
  color: #000B33;
  font-weight: 600;
  margin-bottom: 26px;
}

.section-description{
  font-size: 16px;
  color: rgba($color: $black, $alpha: 0.6);
  margin-bottom: 0px;
}

// section banner
.section-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 320px;

  .banner-overlay {
    padding: 26px 0px;
    display: flex;
    align-items: center;
    background-color: rgba($color: $black, $alpha: 0.5);
    height: 320px;

    .banner-title {
      color: $white;
      font-weight: 700;
      font-size: 60px;
      margin-bottom: 0px;
    }
  }
}

// empty content
.wrapper-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 26px 0px;

  i {
    font-size: 80px;
    color: $primary;
    margin-bottom: 16px;
  }

  h6 {
    font-size: 26px;
    color: rgba($color: $black, $alpha: 0.6);
    margin-bottom: 0px;
  }
}

// alerts
.alert {
  border: 1px solid;
  border-color: $primary;
  border-radius: 6px;
  background-color: rgba($primary, .08);

  i {
    color: $primary;
  }

  span {
    color: $black;
    font-size: 15px;
    margin-right: 6px;
  }

  &.alert-success {
    border-color: $success;
    background-color: rgba($success, .08);

    i {
      color: $success;
    }
  }

  &.alert-danger {
    border-color: $danger;
    background-color: rgba($danger, .08);

    i {
      color: $danger;
    }
  }
}

.text-en{
  font-family: "AvantGardeBook";
}

.text-ar{
  font-family: "DroidKufi";
}

// divider line
.divider-line {
  padding-bottom: 6px;

  .line {
    height: 1px;
    background: rgba($color: $black, $alpha: 0.2);
  }

  .title {
    margin-top: -14px;
    display: flex;
    justify-content: center;

    span {
      font-size: 16px;
      padding: 0px 40px;
      background: $white;
      font-weight: 600;
      color: rgba($color: $black, $alpha: 0.4);
    }
  }
}
