<section class="login-layout">
  <div class="login-body">
    <div class="form-wrapper">
      <div class="form-container">
        <!-- logo -->
        <img src="assets/images/neqabty-logo.png" class="img-fluid" alt="neqabty-logo" />

        <div class="form-title mt-md-5">
          <h4>هل نسيت كلمة السر؟</h4>
        </div>
      </div>

      <form class="form-content" [formGroup]="forgetPasswordForm">
        <div class="form-group">
          <label for="forgetPassword">كلمة السر</label>
          <input type="password" class="form-control" formControlName="forgetPassword" placeholder="كلمة السر" />
        </div>

        <div class="mt-4">
          <button class="btn btn-primary w-100" type="submit" [disabled]="!forgetPasswordForm.valid">إرسل</button>
        </div>

        <!-- back to login -->
        <div class="content-text justify-content-start mt-3">
          <a routerLink="/login">العودة إلى تسجيل الدخول</a>
        </div>
      </form>
    </div>
  </div>

  <div class="login-bg">
    <div class="login-content">
      <h6>نقابتى</h6>
      <p>نقابتي هو منصة تفاعلية تهدف الي تقديم خدمات الرعاية الصحية لنقابة المهندسين المصرية بطريقة مميكنة مدعمة بوسائل
        مختلفة للدفع الالكتروني لتسيهل الحصول علي الخدمات ومتابعة مدفوعاتهم باقل وقت ومجهود</p>
    </div>
  </div>
</section>
